*,*::before,*::after{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.wrapper{
    width:100vw;
    height: 100vh;
    background-image: linear-gradient(#6190E8, #A7BFE8);
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}

.game-player{
    color: aliceblue;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translate(-50%);
    background-color: #3c7270;
    cursor: pointer;
    border-radius: 1rem;
    border: 1px solid;
    padding: 0.5rem 3rem;
}

.tic-tac-toe{
    width: 90%;
    max-width: 20rem;
    background-color: #3c7270;
    border-radius: 1rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    aspect-ratio: 1/1;
}
.box{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    font-size: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1, .box2, .box4, .box5{
    border-right: 2px solid;
    border-bottom: 2px solid;
}

.box3, .box6{
    border-bottom: 2px solid;
}
.box7, .box8{
    border-right: 2px solid;
}

.btn{
    color: white;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3c7270;
    cursor: pointer;
    border-radius: 1rem;
    border: 1px solid;
    padding: 0.5rem 3rem;
    display: none;   
}
.btn.active{
    display: flex;
}

.win{
    background-color: rgb(80, 51, 176);
}